.btn {
  padding: $input-btn-padding-y $input-btn-padding-x;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: 1.5;
  color: $body-color;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border-width: 0;
  border-radius: $btn-border-radius;
  transition: all 100ms;

  &:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  }

  &:active {
    transform: translateY(1px);
  }

  &:focus,
  &:active {
    outline: 0;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    opacity: $btn-disabled-opacity;
  }
}

@each $name, $color in $functional-colors {
  @include make-button($name, $color);
}
