.btn {
  display: inline-block;
  padding: $btn-padding-y $btn-padding-x;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: 1.5;
  color: $body-color;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border-width: 0;
  border-radius: $btn-border-radius;
  transition: all 100ms;

  &:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  }

  &:active {
    transform: translateY(1px);
  }

  &:focus,
  &:active {
    outline: 0;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    opacity: $btn-disabled-opacity;
  }

  &.btn-link {
    font-weight: $body-font-weight;
    &:hover {
      box-shadow: none;
    }
  }

  &.btn-xs {
    padding: 6px 9px;
    font-size: .85em;
  }

  &.btn-sm {
    padding: 8px 14px;
  }

  &.btn-md {
    padding: $btn-md-padding-y $btn-md-padding-x;
  }

  &.btn-lg {
    padding: 12px 14px;
  }

  &.btn-full {
    width: 100%;
  }

  & + .btn {
    margin-left: 8px;
  }
}

@each $name, $color in $functional-colors {
  @include make-button($name, $color);
}

@each $name, $color in $full-palette {
  @include make-button($name, $color);
}

@each $name, $color in $brand-colors {
  @include make-button($name, $color);

}
