@each $name, $value in $full-palette {
  .bg-#{$name} {
    background-color: $value;
  }

  .txt-#{$name} {
    color: $value;
  }
}

@each $name, $value in $brand-colors {
  .bg-#{$name} {
    background-color: $value;
  }

  .txt-#{$name} {
    color: $value;
  }
}
