@mixin media-query($size) {
  @if ($size > 0) {
    @media (min-width: $size) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin make-button($name, $color) {
  .btn-#{$name} {
    color: text-color($color);
    background-color: $color;

    &:hover,
    &:focus {
      color: $text-color;
      background-color: darken($color, 5%);
    }

    &:disabled {
      background-color: lighten($color, 5%);
    }

    &:active,
    &.active {
      color: $text-color;
      background-color: darken($color, 8%);
    }
  }
}

@mixin make-outline-button($name, $color, $text-color: $color) {

  @if (lightness($color) > 55) {
    $text-color: darken($text-color, 15%);
  }
  .btn-outline-#{$name} {
    color: $text-color;
    box-shadow: inset 0 0 0 1px $btn-outline-border;

    &:hover,
    &:focus {
      color: $text-color;
      box-shadow: inset 0 0 0 1px $color;
    }
  }
}

@mixin make-gradient-button($name, $start-color, $end-color, $text-color: $btn-txt-light) {
  @if (lightness($start-color) > 65 and lightness($end-color) > 65) {
    $text-color: $btn-txt-dark;
  }
  .btn-#{$name} {
    color: $text-color;
    background-color: $start-color;
    background-image: linear-gradient($gradient-angle, $start-color, $end-color);

    &:focus,
    &:hover {
      color: $text-color;
      background-image: linear-gradient($gradient-angle, darken($start-color, 5%), darken($end-color, 5%));
    }

    &:active,
    &.active {
      color: $text-color;
      background-image: linear-gradient($gradient-angle, darken($start-color, 8%), darken($end-color, 8%));
    }
  }
}
