%heading {
  margin-top: 0;
  margin-bottom: $heading-border-bottom;
  letter-spacing: $heading-letter-spacing;
}

@each $name, $size in $heading-font-sizes {
  .heading-#{$name} {
    @extend %heading;
    font-size: $size;
  }
}

h1 {
  @extend .heading-xl;
}

h2 {
  @extend .heading-lg;
}

h3 {
  @extend .heading-md;
}

h4 {
  @extend .heading-sm;
}

h5 {
  @extend .heading-xs;
}

h6 {
  @extend %heading;
  font-size: $body-font-size;
}

@each $breakpoint, $size in $media-breakpoints {
  @include media-query($size) {

    $infix: breakpoint-infix($breakpoint);

    .text#{$infix}-left {
      text-align: left;
    }
    .text#{$infix}-center {
      text-align: center;
    }
    .text#{$infix}-right {
      text-align: right;
    }
    .text#{$infix}-justify {
      text-align: justify;
    }
  }
}

@each $weight in $font-weights {
  .fw-#{$weight} {
    font-weight: $weight;
  }
}
