// Grid Settings
$media-breakpoint-xs: 0 !default;
$media-breakpoint-sm: 576px !default;
$media-breakpoint-md: 768px !default;
$media-breakpoint-lg: 992px !default;
$media-breakpoint-xl: 1200px !default;

$media-breakpoints: (
  xs: $media-breakpoint-xs,
  sm: $media-breakpoint-sm,
  md: $media-breakpoint-md,
  lg: $media-breakpoint-lg,
  xl: $media-breakpoint-xl,
) !default;

$wrapper-width-sm: 540% !default;
$wrapper-width-md: 720px !default;
$wrapper-width-lg: 960px !default;
$wrapper-width-xl: 1140px !default;

$cell-count: 16 !default;
$cell-width: 100% / $cell-count !default;

$contrasted-threshold: 150 !default;

// Color definitions
$negative-color: #f44 !default;
$info-color: #00cbe6 !default;
$positive-color: #00e089 !default;
$default-color: #dfe0e4 !default;
$warning-color: #ffd33d !default;

$functional-colors: (
  "negative": $negative-color,
  "info": $info-color,
  "positive": $positive-color,
  "default": $default-color,
  "warning": $warning-color
) !default;

$dark-color: #141823 !default;
$btn-txt-dark: #707070 !default;
$btn-txt-light: #fff !default;

$white-color: #fff !default;
$grey-color: #808080 !default;

// Globals
$body-bg-color: $white-color !default;
$body-color: $dark-color !default;
$body-font-size: 1rem !default;
$body-font-weight: 400 !default;

// Inputs
$input-padding-y: .375rem !default;
$input-padding-x: .75rem !default;
$input-font-size: $body-font-size !default;
$input-border-radius: .25rem !default;
$input-font-weight: $body-font-weight !default;

// Buttons variables
$btn-disabled-opacity: .65 !default;
$btn-padding-y: $input-padding-y !default;
$btn-padding-x: $input-padding-x !default;
$btn-font-size: $body-font-size !default;
$btn-font-weight: 600 !default;
$btn-border-radius: .25rem !default;
$btn-xs-padding-y: .375rem !default;
$btn-xs-padding-x: .5625rem !default;
$btn-sm-padding-y: .5rem !default;
$btn-sm-padding-x: .875rem !default;
$btn-md-padding-y: .625rem !default;
$btn-md-padding-x: 1rem !default;
$btn-lg-padding-y: .75rem !default;
$btn-lg-padding-x: .625rem !default;
