// Grid Settings
$media-breakpoint-xs: 0 !default;
$media-breakpoint-sm: 576px !default;
$media-breakpoint-md: 768px !default;
$media-breakpoint-lg: 992px !default;
$media-breakpoint-xl: 1200px !default;

$media-breakpoints: (
  xs: $media-breakpoint-xs,
  sm: $media-breakpoint-sm,
  md: $media-breakpoint-md,
  lg: $media-breakpoint-lg,
  xl: $media-breakpoint-xl,
) !default;

$wrapper-width-sm: 540% !default;
$wrapper-width-md: 720px !default;
$wrapper-width-lg: 960px !default;
$wrapper-width-xl: 1140px !default;

$cell-count: 16 !default;
$cell-width: 100% / $cell-count !default;

$contrasted-threshold: 150 !default;

// Color definitions
$negative-color: #f44 !default;
$info-color: #00cbe6 !default;
$positive-color: #00e089 !default;
$default-color: #dfe0e4 !default;
$warning-color: #ffd33d !default;

$functional-colors: (
  "negative": $negative-color,
  "info": $info-color,
  "positive": $positive-color,
  "default": $default-color,
  "warning": $warning-color
) !default;

$red: #f85032 !default;
$orange: #f57c00 !default;
$yellow: #fffc00 !default;
$green: #4caf50 !default;
$leaf: #3aa17e !default;
$teal: #008080 !default;
$blue: #0366d6 !default;
$mint: #92ddc8 !default;
$purple: #4a2dbe !default;
$pink: #fc67fa !default;

$full-palette: (
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "leaf": $leaf,
  "teal": $teal,
  "blue": $blue,
  "mint": $mint,
  "purple": $purple,
  "pink": $pink
) !default;

// Shades
$black-color: #141823 !default;
$grey-color: #808080 !default;
$white-color: #fff !default;

// Brand colors
$primary-color: #09cc8d !default;
$primary-color-accent: #068e62 !default;
$secondary-color: #363e71 !default;

$brand-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color
) !default;

$gradients: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$gradients: map-merge(
  (
    "brand": (
      "start": $primary-color,
      "end": $primary-color-accent
    ),
    "coral": (
      "start": #e83e3e,
      "end": #e83e62
    ),
    "sky": (
      "start": #8bc6ec,
      "end": #9599e2
    )
  ),
  $gradients
);

$use-gradients: true !default;
$gradient-angle: 90deg !default;

// Spacing
$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

// Globals
$body-bg-color: $white-color !default;
$body-color: $black-color !default;
$body-font-size: 1rem !default;
$body-font-weight: 400 !default;

// Inputs
$input-padding-y: .375rem !default;
$input-padding-x: .75rem !default;
$input-font-size: $body-font-size !default;
$input-border-radius: .25rem !default;
$input-font-weight: $body-font-weight !default;

// Buttons variables
$btn-disabled-opacity: .65 !default;
$btn-padding-y: $input-padding-y !default;
$btn-padding-x: $input-padding-x !default;
$btn-font-size: $body-font-size !default;
$btn-font-weight: 600 !default;
$btn-border-radius: .25rem !default;
$btn-xs-padding-y: .375rem !default;
$btn-xs-padding-x: .5625rem !default;
$btn-sm-padding-y: .5rem !default;
$btn-sm-padding-x: .875rem !default;
$btn-md-padding-y: .625rem !default;
$btn-md-padding-x: 1rem !default;
$btn-lg-padding-y: .75rem !default;
$btn-lg-padding-x: .625rem !default;
$btn-txt-dark: $grey-color !default;
$btn-txt-light: $white-color !default;
$btn-outline-border: #efefef !default;
